body{
    margin: 0;
    font-family: arial, helvetica, sans-serif;
}

a{
    text-decoration: none;
}

#content{
    margin-top: 10px;
    margin-left: 17%;
    margin-right: 17%;
    z-index: 1;
}

#content p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
}

#welcome{    
    background-color: #3F3F3F ; 
    height: 40px;
    display:block;
}

#welcome p{
    float: right;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

img{
    display: inline-block;
}

#row1{
    background-color: #FEFEFF;
}

#row1 li{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    float: right;
    list-style-type: none;
    width: 100px;
    height: 20px;
    background-color: #EBEBEB;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-top: 46px;
    z-index: 1;
}

#form{
    font-size: 12px;
    margin-left: 33px;
}

input[type="text"] {
    margin-left: 16px;
}

input[type="password"] {
    margin-left: 5px;
}

#submit{
    text-align: center;
    margin-bottom: 50px;
}

#submit button:hover{
    background-color: darkgrey;
    color: white;
}

#download{
    margin-left: 12%;
    text-align: center;
    margin-bottom: 150px;
}

#download p{
    text-align: center;
    font-weight: 100;
    font-size: 18px;
}

button{
    font-size: 11px;
    background-color: white;
    border-radius: 4px;
    width: 110px;
    height: 30px;
}

#grey-background{
    background-color: #EBEBEB;
    height: 380px;
    z-index: -1;
}
